@import url('../fonts/fonts.css');
@import url('color-scheme.css');
@import url('assesment.css');
@import url('login.css');
@import url('register.css');
@import url('assesment-result.css');

html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: "Oxygen", sans-serif;
	/*background-color: var(--primary-color);*/
}

.form-control {
	border-radius: 15px;
	border: none;
	padding: 12px;
}

.form-control:focus,.form-control:active {
	border: none;
}

.btn {
	padding: 12px;
	border-radius: 15px;
	border: none;
}

.btn-primary {
	color: white;
	background-color: var(--primary-color-dark);
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #5e4ef5!important;
	outline: none;
	box-shadow: unset!important;
}


.btn-white {
	color: var(--primary-color-dark);
	background-color: white;
}

.card {
	border-radius: 15px;
}

.bg {
	min-height: 100vh;
}

a, a:hover {
	color: var(--primary-color);
}

#loader {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	position: fixed;
	z-index: 9;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}

.changed-wrapper {
	transition: 0.3s ease-out;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--primary-color-dark);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media only screen and (min-width: 768px) {
	.wrapper {
		max-width: 500px;
		margin: auto;
	}
}